*.class

# Package Files #
*.jar
*.war
*.ear

## not sure if i need all of these
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
local.properties
.classpath
.settings/
.loadpath
target/**
